.button {
    // min-width: 9rem;
    width: auto;
    max-width: 15rem;
    height: 2.5rem;
    padding: 0 2rem;
    @include flex(row, center, center);
    gap: 5px;
    border: 2px solid $general-normal-green;
    border-radius: 4px;
    @include fontMontserat(16, 20, 500);
    color: $general-normal-green;
    background-color: transparent;
    cursor: pointer;

    @include screenSize("mobile") {
        padding: 0 1rem;
    }
    

    &:hover {
        animation: borderColorToggle 2s infinite alternate;
    }

    img {
        width: 1.5rem;
    }
}

.sec-btn {
    padding: 0.7rem 2rem;
    border-radius: 80px;
    background-color: $light-dark-bg;
    @include flex(row, center, center);
    gap: 2px;
    border: none;
    outline: none;

    img {
        width: 3rem;
        border: 1px solid red;
    }

    span {
        @include fontMontserat(16, 20, 600);
    }

    @include screenSize("mobile") {
        padding: 0.5rem 1rem;

        span {
            @include fontMontserat(14, 18, 600);
        }
    }
}

@keyframes borderColorToggle {
    25% {
        border-style: dotted; 
        border-color: $general-brighter-green;
        color: $general-brighter-green;
    }
    50%  {
        border-style: double;
        border-color: red;
        color: red;
    }
	75% {
		border-style: dashed;
        border-color: #3A98B9;
        color: #3A98B9;
	}
    100% {
        border-style: solid;
        border-color: yellow;
        color: yellow;
    }
}


