// general colors
$tag-color: #515152;
$general-normal-green: #38E54D;
$general-brighter-green: #16FF00;
$general-shallow-green: #8ed28b;
$color-offwhite: #8892b0;
$light-dark-bg:#b0aff629;

// light theme colors
$dark-color-primary: #1d1d1d;
$dark-color-secondary: #2C3333;

// dark theme colors
$light-color-primary: #ffff;
$light-color-secondary: #f7ecec; //F9F9F9
$bg-color-offwhite: #f6f5f5;