// general colors
$tag-color: #515152;
$general-normal-green: #38E54D;
$general-brighter-green: #16FF00;
$general-shallow-green: #8ed28b;
$color-offwhite: #8892b0;
$light-dark-bg:#b0aff629;

// light theme colors
$dark-color-primary: #1d1d1d;
$dark-color-secondary: #2C3333;
// $light-theme-green-text: #38E54D;
// $light-theme-green-sec: #03C988;

// dark theme colors
$light-color-primary: #ffff;
$light-color-secondary: #f7ecec; //F9F9F9
$bg-color-offwhite: #f6f5f5;
// $dark-theme-green-primary: #16FF00;
// $dark-theme-green-secondary: #03C988;

// $color-white: #ffff;
// $color-offwhite: #8892b0;
// $color-green: #38E54D;
// $tag-color: #88888b;
// $color-grey: #909096;
// $color-faint-grey: #8d8d8d;
// $general-brighter-green: #16FF00;
// $color-app-background: #1d1d1d;
// $general-shallow-green: #8ed28b;