nav {
    width: 100%;
    height: 4.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    @include flex(row, space-between, center);
    border-bottom: 1px solid $tag-color;
    box-sizing: border-box;

    @include screenSize("mobile") {}
    
    
    
    .nav {
        
        &_container {
            @include flex(row, unset, center);
            gap: 2rem;
            margin: 0 3rem;
            @include screenSize("mobile") {
                display: none;
                gap: 1rem;
            }
        }

        &_link {
            cursor: pointer;
            text-transform: capitalize;
            @include fontMontserat(16, 20, normal);
            @include screenSize("mobile") {
                font-size: 12px;
            }

            &:hover {
                border-bottom: 2px solid $general-normal-green;
            }

            &-menu {
                text-decoration: none;
            }
        }

        &link-menu {
            width: 100%;
            height: 100%;
        }

        &_active {
            color: $general-brighter-green;
            font-weight: 600;
            border-top: 2px solid $general-normal-green;
            border-right: 2px solid $general-normal-green;
            border-left: 2px solid $general-normal-green;
            padding: 0.1rem 0.5rem;
            &:hover {
                border-bottom: 2px solid $general-normal-green;;
            }

            @include screenSize("mobile") {
                font-size: 12px;
                padding: 0.1rem 0.25rem;
            }
        }
    }
    .switch-icon {
        position: absolute;
        right: 5%;
        @include screenSize("mobile") {
            position: relative;
            right: inherit;
        }
    }
}

@keyframes borderColorToggle {
    25% {
        border-style: double; 
        border-color: $general-brighter-green;
        color: $general-brighter-green;
    }
    50%  {
        border-style: dashed;
        border-color: #FFE15D;
        color: #FFE15D;
    }
	75% {
		
        border-style: double;
        border-color: red;
        color: red;
	}
    100% {
        border-style: dashed;
        border-color: #6C00FF;
        color: #6C00FF;
    }
}


.sider {
    display: none;
	@include screenSize("mobile") {
		display: block;
		width: 0%;
		min-height: calc(100vh - 4.5rem);
		overflow-x: hidden;
		position: fixed;
        top: 4.5rem;
		right: -100%;
		bottom: 0;
		transition: width 1s, height 1s;
		background: #FFFFFF;
		color: white;
		z-index: 200;
		box-sizing: border-box;
	}
  }
  .side_open {
    // display: none;
    @include screenSize("mobile") {
		width: 95%;
    	min-height: calc(100vh - 4.5rem);
		// cursor: pointer;
		position: fixed;
		top: 4.5rem;
		right: 0;
		bottom: 0;
		z-index: 200;
		overflow-x: hidden;
		overflow-y: auto;
		box-sizing: border-box;
	}
  }
  .side_close {
    // display: none;
	@include screenSize("mobile") {
		width: 0;
		min-height: calc(100vh - 4.5rem);
		overflow: hidden;
		position: fixed;
		top: 4.5rem;
		right: 0;
		bottom: 0;
		transition: width 0.5s;
		box-sizing: border-box;
	}
}

.my-logo {
    width: 4rem;
    height: 3.5rem;
    position: absolute;
    left: 5%;
    cursor: pointer;
    z-index: 300;
    box-sizing: border-box;

    // &:hover {
    //     animation: borderColorToggle 4s infinite alternate;
    // }

    @include screenSize("mobile") {
        left: 10%;
    }
}