.diamond {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: $general-brighter-green;
    position: relative;
    top: -5px;
    // border: 1px solid blue;

    &:after {
        content: '';
    position: absolute;
    left: -5px;
    top: 5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: $general-brighter-green;
    }
  }