.sidebar {
    width: 100%;
    height: 100%;
    @include flex(column, unset, center);
    padding: 20% 0 0 0;

    p {
        @include fontMontserat(24, 35, 500);
        margin-bottom: 2rem;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .sidebar-btn {
        margin-top: 5rem;
    }
}